openapi: '3.0.0'

info:
  description: API for managing Compra Local backend service.
  version: '1.0'
  title: Compra Local API

servers:
  - url: https://api.compralocal.cat
    description: Production endpoint.
  - url: http://localhost:8080
    description: Development endpoint.

tags:
  - name: health check
    description: endpoint for managing health checks.
  - name: user
    description: endpoint for managing users.
  - name: help
    description: endpoint for managing helpers.
  - name: admin
    description: endpoint for managing locals.
  - name: review
    description: endpoint for managing reviews.

paths:

  /status:
    get:
      tags:
        - health check
      summary: Checks the status of the API.
      description: Invoke this endpoint to check the status of the API.
      operationId: src.api.status.get
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'

  /user/{user_id}:
    get:
      tags:
        - user
      summary: Gets a user by its identifier.
      description: Invoke this endpoint to get a user by its identifier.
      operationId: src.api.user.get
      parameters:
        - in: path
          name: user_id
          description: User identifier.
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'
    put:
      tags:
        - user
      summary: Updates a user.
      description: Invoke this endpoint to update a user.
      operationId: src.api.user.put
      parameters:
        - in: path
          name: user_id
          description: User identifier.
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        description: Body wrapper for the request.
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: (optional) User full name.
                email_address:
                  type: string
                  description: (optional) User email address.
                phone_number:
                  type: string
                  description: (optional) User phone number.
                image:
                  type: string
                  description: (optional) User image base64-encoded.
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'

  /user:
    post:
      tags:
        - user
      summary: Creates a user using its information.
      description: Invoke this endpoint to create a user using its information.
      operationId: src.api.user.post
      requestBody:
        required: true
        description: Body wrapper for the request.
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: User full name.
                email_address:
                  type: string
                  description: User email address.
                phone_number:
                  type: string
                  description: User phone number.
                password:
                  type: string
                  description: User encoded password.
                type:
                  type: string
                  description: User type.
                  enum: ['CLIENT', 'BUSINESS']
                image:
                  type: string
                  description: (optional) User image base64-encoded.
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'

  /user/login:
    post:
      tags:
        - user
      summary: Logs in user using its credentials.
      description: Invoke this endpoint to log in user using its credentials.
      operationId: src.api.user.login
      requestBody:
        required: true
        description: Body wrapper for the request.
        content:
          application/json:
            schema:
              type: object
              properties:
                email_address:
                  type: string
                  description: User email address.
                password:
                  type: string
                  description: User encoded password.
                type:
                  type: string
                  description: User type.
                  enum: ['CLIENT', 'BUSINESS']
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'

  /user/{user_id}/password:
    put:
      tags:
        - user
      summary: Updates the password from a user.
      description: Invoke this endpoint to update the password from a user.
      operationId: src.api.user.password
      parameters:
        - in: path
          name: user_id
          description: User identifier.
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        description: Body wrapper for the request.
        content:
          application/json:
            schema:
              type: object
              properties:
                old_password:
                  type: string
                  description: User old encoded password.
                new_password:
                  type: string
                  description: User new encoded password.
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'

  /help:
    get:
      tags:
        - help
      summary: Gets a list of orders that need help around you.
      description: Invoke this endpoint to get a list of orders that need help around you.
      operationId: src.api.help.get
      parameters:
        - in: query
          name: latitude
          description: User latitude.
          required: true
          schema:
            type: number
            format: float
        - in: query
          name: longitude
          description: User longitude.
          required: true
          schema:
            type: number
            format: float
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'

  /admin/{local_id}:
    get:
      tags:
        - admin
      summary: Gets a local by its identifier.
      description: Invoke this endpoint to get a local by its identifier.
      operationId: src.api.local.get
      parameters:
        - in: path
          name: local_id
          description: Local identifier.
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'
    put:
      tags:
        - admin
      summary: Creates a local using its information.
      description: Invoke this endpoint to create a user using its information.
      operationId: src.api.local.put
      parameters:
        - in: path
          name: local_id
          description: Local identifier.
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        description: Body wrapper for the request.
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: (Optional) Local name.
                description:
                  type: string
                  description: (Optional) Local description.
                postal_address:
                  type: string
                  description: (Optional) Local postal address.
                website:
                  type: string
                  description: (Optional) Local website.             
                phone_number:
                  type: integer
                  description: (Optional) Local phone number.    
                pick_up:
                  type: boolean
                  description: (Optional) Local pickups allowed.     
                delivery:
                  type: boolean
                  description: (Optional) Local deliveries allowed.            
                image:
                  type: string
                  description: (Optional) Local image base64-encoded.
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'

  /admin:
    get:
      tags:
        - admin
      summary: Gets all locals information.
      description: Invoke this endpoint to get all locals information.
      operationId: src.api.local.get_all
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'
    post:
      tags:
        - admin
      summary: Creates a local using its information.
      description: Invoke this endpoint to create a user using its information.
      operationId: src.api.local.post
      requestBody:
        required: true
        description: Body wrapper for the request.
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Local name.
                description:
                  type: string
                  description: (optional) Local description.
                postal_address:
                  type: string
                  description: Local postal address.
                user_id:
                  type: integer
                  description: User indentifier related to the owner.
                website:
                  type: string
                  description: (optional) Local website.
                phone_number:
                  type: integer
                  description: (optional) Local phone number.
                pick_up:
                  type: boolean
                  description: (optional) Local pickups allowed.
                delivery:
                  type: boolean
                  description: (optional) Local deliveries allowed.
                image:
                  type: string
                  description: (optional) Local image base64-encoded.
                category_id:
                  type: integer
                  description: (optional) Category identifier.
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'

  /admin/{local_id}/product:
    post:
      tags:
        - admin
      summary: Create a product to a given local.
      description: Invoke this endpoint to get all the local products.
      operationId: src.api.product.post
      parameters:
        - in: path
          name: local_id
          description: Local identifier.
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        description: Body wrapper for the request.
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Prodcut name.
                description:
                  type: string
                  description: (optional) Prodcut description.
                price:
                  type: number
                  description: Product price.
                currency:
                  type: string
                  description: Local description.
                  enum: ['EUR']
                price_type:
                  type: string
                  description: Product price type.
                  enum: ['UNIT', 'KG', 'G', 'L', 'ML']
                product_group:
                  type: integer
                  description: (optional) Id of the product group
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'
    get:
        tags:
          - admin
        summary: Get an specific product of a local.
        description: Invoke this endpoint to get all the local products.
        operationId: src.api.product.local_all
        parameters:
          - in: path
            name: local_id
            description: Local identifier.
            required: true
            schema:
              type: integer
        responses:
          200:
            description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/APIResponse'
          default:
            description: Unexpected error.
            content:
              application/text:
                schema:
                  $ref: '#/components/schemas/UnexpectedError'

  /admin/{local_id}/product/{product_id}:
    get:
      tags:
        - admin
      summary: Get an specific product of a local.
      description: Invoke this endpoint to get all the local products.
      operationId: src.api.product.get
      parameters:
        - in: path
          name: local_id
          description: Local identifier.
          required: true
          schema:
            type: integer
        - in: path
          name: product_id
          description: Product identifier.
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'
    put:
      tags:
        - admin
      summary: Edit a product.
      description: Invoke this endpoint to get all the local products.
      operationId: src.api.product.put
      parameters:
        - in: path
          name: local_id
          description: Local identifier.
          required: true
          schema:
            type: integer
        - in: path
          name: product_id
          description: Product identifier.
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        description: Body wrapper for the request.
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: (optional) Prodcut name.
                description:
                  type: string
                  description: (optional) Prodcut description.
                price:
                  type: number
                  description: (optional) Product price.
                currency:
                  type: string
                  description: (optional) Local description.
                  enum: ['EUR']
                price_type:
                  type: string
                  description: (optional) Product price type.
                  enum: ['UNIT', 'KG', 'G', 'L', 'ML']
                product_group:
                  type: integer
                  description: (optional) Id of the product group
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'
    delete:
      tags:
        - admin
      summary: Delete product of a local.
      description: Invoke this endpoint to get all the local products.
      operationId: src.api.product.delete
      parameters:
        - in: path
          name: local_id
          description: Local identifier.
          required: true
          schema:
            type: integer
        - in: path
          name: product_id
          description: Product identifier.
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'

  /admin/search:
    get:
      tags:
        - admin
      summary: Gets a list of locals around you.
      description: Invoke this endpoint to get a list of locals around you.
      operationId: src.api.local.search
      parameters:
        - in: query
          name: latitude
          description: User latitude.
          required: true
          schema:
            type: number
            format: float
        - in: query
          name: longitude
          description: User longitude.
          required: true
          schema:
            type: number
            format: float
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'

  /help/assign:
    post:
      tags:
        - help
      summary: Assigns an order in order to help for picking it up.
      description: Invoke this endpoint to assign an order in order to help for picking it up.
      operationId: src.api.help.assign
      requestBody:
        required: true
        description: Body wrapper for the request.
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  description: User identifier.
                order_group_id:
                  type: integer
                  description: Order group identifier.
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'

  /review/local:
    post:
      tags:
        - review
      summary: Creates a review for a local.
      description: Invoke this endpoint to create a review for a local.
      operationId: src.api.review.post_local
      requestBody:
        required: true
        description: Body wrapper for the request.
        content:
          application/json:
            schema:
              type: object
              properties:
                writer_id:
                  type: integer
                  description: Writer identifier.
                order_id:
                  type: integer
                  description: Order identifier.
                punctuation:
                  type: integer
                  description: Review punctuation.
                comment:
                  type: string
                  description: (optinal) Review comment.
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'

  /review/local/{local_id}/average:
    get:
      tags:
        - review
      summary: Gets the average punctuation from local reviews.
      description: Invoke this endpoint to get the average punctuation from local reviews.
      operationId: src.api.review.local_average
      parameters:
        - in: path
          name: local_id
          description: Local identifier.
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'

  /review/local/{local_id}/all:
    get:
      tags:
        - review
      summary: Gets all the local reviews.
      description: Invoke this endpoint to get all the local reviews.
      operationId: src.api.review.local_all
      parameters:
        - in: path
          name: local_id
          description: Local identifier.
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'

  /review/user:
    post:
      tags:
        - review
      summary: Creates a review for a user.
      description: Invoke this endpoint to create a review for a user.
      operationId: src.api.review.post_user
      requestBody:
        required: true
        description: Body wrapper for the request.
        content:
          application/json:
            schema:
              type: object
              properties:
                writer_id:
                  type: integer
                  description: Writer identifier.
                order_group_id:
                  type: integer
                  description: Order group identifier.
                punctuation:
                  type: integer
                  description: Review punctuation.
                comment:
                  type: string
                  description: (optinal) Review comment.
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'

  /review/user/{user_id}/average:
    get:
      tags:
        - review
      summary: Gets the average punctuation from user reviews.
      description: Invoke this endpoint to get the average punctuation from user reviews.
      operationId: src.api.review.user_average
      parameters:
        - in: path
          name: user_id
          description: User identifier.
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'

  /review/user/{user_id}/all:
    get:
      tags:
        - review
      summary: Gets all the user reviews.
      description: Invoke this endpoint to get all the user reviews.
      operationId: src.api.review.user_all
      parameters:
        - in: path
          name: user_id
          description: User identifier.
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'

  /review/pending/{user_id}:
    get:
      tags:
        - review
      summary: Gets all pending reviews from a user.
      description: Invoke this endpoint to get all pending reviews from a user.
      operationId: src.api.review.pending
      parameters:
        - in: path
          name: user_id
          description: User identifier.
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'

components:

  schemas:

    APIResponse:
      type: object
      properties:
        error:
          type: boolean
          description: Whether or not the request was successfully processed or not.
        message:
          type: string
          description: Error message if the request was unsuccessful.
        response:
          type: object
          description: Contains the response data if the request was successful.

    UnexpectedError:
      type: string
      description: Error description.
