openapi: '3.0.0'

info:
  description: API for managing Compra Local backend service.
  version: '1.0'
  title: Compra Local API

servers:
  - url: https://api.compralocal.cat
    description: Production endpoint.
  - url: http://localhost:8080
    description: Development endpoint.

tags:
  - name: health check
    description: endpoint for managing health checks.
  - name: user
    description: endpoint for managing users.

paths:

  /status:
    get:
      tags:
        - health check
      summary: Checks the status of the API.
      description: Invoke this endpoint to check the status of the API.
      operationId: src.api.status.get
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'

  /user/{user_id}:
    get:
      tags:
        - user
      summary: Gets a user by its identifier.
      description: Invoke this endpoint to get a user by its identifier.
      operationId: src.api.user.get
      parameters:
        - in: path
          name: user_id
          description: User identifier.
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'

    put:
      tags:
        - user
      summary: Updates a user.
      description: Invoke this endpoint to update a user.
      operationId: src.api.user.put
      parameters:
        - in: path
          name: user_id
          description: User identifier.
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        description: Body wrapper for the request.
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: (optional) User full name.
                email_address:
                  type: string
                  description: (optional) User email address.
                image:
                  type: string
                  description: (optional) User image base64-encoded.
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'

  /user:
    post:
      tags:
        - user
      summary: Creates a user using its information.
      description: Invoke this endpoint to create a user using its information.
      operationId: src.api.user.post
      requestBody:
        required: true
        description: Body wrapper for the request.
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: User full name.
                email_address:
                  type: string
                  description: User email address.
                password:
                  type: string
                  description: User encoded password.
                type:
                  type: string
                  description: User type.
                  enum: ['CLIENT', 'BUSINESS']
                image:
                  type: string
                  description: (optional) User image base64-encoded.
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'

  /user/login:
    post:
      tags:
        - user
      summary: Logs in user using its credentials.
      description: Invoke this endpoint to log in user using its credentials.
      operationId: src.api.user.login
      requestBody:
        required: true
        description: Body wrapper for the request.
        content:
          application/json:
            schema:
              type: object
              properties:
                email_address:
                  type: string
                  description: User email address.
                password:
                  type: string
                  description: User encoded password.
                type:
                  type: string
                  description: User type.
                  enum: ['CLIENT', 'BUSINESS']
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'

  /user/{user_id}/password:
    put:
      tags:
        - user
      summary: Updates the password from a user.
      description: Invoke this endpoint to update the password from a user.
      operationId: src.api.user.password
      parameters:
        - in: path
          name: user_id
          description: User identifier.
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        description: Body wrapper for the request.
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  description: User new encoded password.
      responses:
        200:
          description: Standard Compra Local API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/UnexpectedError'

components:

  schemas:

    APIResponse:
      type: object
      properties:
        error:
          type: boolean
          description: Whether or not the request was successfully processed or not.
        message:
          type: string
          description: Error message if the request was unsuccessful.
        response:
          type: object
          description: Contains the response data if the request was successful.

    UnexpectedError:
      type: string
      description: Error description.
